
<section id="intro">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h1>Your place to decide your career path</h1>
            <div class="search-bar">
                <div class="active-pink-4 mb-4">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </div>

    <div class="contain ">
        <div class="col-sm-12 col-md-12">
            <button type="button" class="btna" onclick="window.location.href = '@Url.Action("Bursary", "Home")'">Funding</button><!--
            --><button type="button" class="btna" onclick="window.location.href = '@Url.Action("CareerPath", "Home")'">University / College path</button><!--
            --><button type="button" class="btna" onclick="window.location.href = '@Url.Action("Learnership", "Home")'">Learnership</button><!--
            --><button type="button" class="btna" onclick="window.location.href = '@Url.Action("GovernmentSector", "Home")'">Government Sector</button>
        </div>
    </div>
</section>
<section class="section1 text-center">
    <div class="container">
        <div class="general-title">
            <h3>Let Us Inspire You</h3>
            <hr>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="servicetitle">
                        <h4>Certification Path</h4>
                        <hr>
                    </div>
                    <div class="icn-main-container">
                        <img src="~/imgz/path.jpg">
                        <div id="iconsec"><img src="~/imgz/first.png"></div>
                    </div>
                    <p>
                        A Learnership is a program where you get on-the-job training. It comprises of theoretical and practical work, of which, most of the work is practical. You also get a monthly stipend. After completing the Learnership program, you are qualified to apply for work in that specific career.
                    </p>

                    <a class="btn btn-primary" href="#">Read more</a>
                </div>

            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="servicetitle">
                        <h4>Government Opportunity</h4>
                        <hr>
                    </div>
                    <div class="icn-main-container">
                        <img src="~/imgz/opportunities.jpg" alt="">
                        <div id="iconsec"><img src="~/imgz/quality.png"></div>
                    </div>
                    <p>Careers in the government sector are offered and fully paid for by the SA government. These include SANDF, SAPS, being a traffic officer, nursing, and correctional services, to mention a few. Applying for courses in alignment with the government sector means your tuition will be paid in full,</p>

                    <a class="btn btn-primary" href="@Url.Action("GovernmentSector", "Home")">Read more</a>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" data-effect="slide-bottom">
                <div class="custom-box">
                    <div class="servicetitle">
                        <h4>Career Guidance Test</h4>
                        <hr>
                    </div>
                    <div class="icn-main-container">
                        <img src="~/imgz/skill-based-career-test-1.jpg" alt="">
                        <div id="iconsec"><img src="~/imgz/feedback.png"></div>
                    </div>
                    <p>
                        If you are unsure of which career path to follow, this test may help you. The test assesses your interests, and, from that, gives you results of possible careers you are suited for.Remember, the results are only a suggestion. You are free to choose whatever career path you find most interesting and fulfilling outside from the suggestions.
                    </p>
                    <a class="btn btn-primary" href="https://www.123test.com/career-test/" target="_blank">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section4 text-center">
    <div class="general-title">
        <h3 id="Services">What We Are About</h3>
        <hr>
    </div>

    <video width="420" height="340" controls>
        <source src="~/imgz/Monday Morning Motivational Video (1).mp4" type="video/mp4">
        <source src="~/movie.ogg" type="video/ogg">
    </video>
    
    <video width="420" height="340" controls>
        <source src="~/imgz/Monday Morning Motivational Video (1).mp4" type="video/mp4">
        <source src="~/movie.ogg" type="video/ogg">
    </video>
    
    <video width="420" height="340" controls>
        <source src="~/imgz/Monday Morning Motivational Video (1).mp4" type="video/mp4">
        <source src="~/movie.ogg" type="video/ogg">
    </video>


</section>
