@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "Degrees";

}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/trophy-shape.png" alt="">
        </article>
        <aside>
            <h5>@ViewBag.Title</h5>
        </aside>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">
            <div class="dropdown">
                <button class="btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By Faculty/School
                </button>
                <div class="dropdown-menu filterList" aria-labelledby="dropdownMenuButton">
                    <ul>
                        <li><a class="dropdown-item filterListItem" data-filter="all">ALL</a></li>
                        <li><a class="dropdown-item filterListItem" data-filter="Health Sciences">Health Sciences</a></li>
                        <li><a class="dropdown-item filterListItem" data-filter="Education">Education</a></li>
                        <li><a class="dropdown-item filterListItem" data-filter="Engineering">Engineering</a></li>
                        <li><a class="dropdown-item filterListItem" data-filter="Humanities">Humanities</a></li>                      
                    </ul>
                </div>
                <input type="text" placeholder="Search" class="searchBar form-control" name="search" data-search>
            </div>

        </div>

        <div class="row filtr-container galleryContainer">

            @foreach (var degree in Model.degrees)
            {
                <div class="col-md-3 filtr-item thumbnail" data-category="all,@degree.Schools" data-sort="@degree.Name">
                    <img src="@Url.Content(degree.Image)" alt="">
                    <span class="item-desc">@degree.Name</span>
                    <button type="button" onclick="window.location.href ='@Url.Action(degree.Links, "Home")'" class="btn-findMore">More Info</button>
                </div>
            }

        </div>
    </div>
</section>



@Html.Partial("_scripts")
