@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "Degrees";
   
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/trophy-shape.png" alt="">
        </article>
        <aside>
            <h5>@ViewBag.Title</h5>
        </aside>
    </div>
</section>

<section id="filterid">
    <div class="optionsDiv">
        Filter By Position
        <select id="selectField">
            <option value="All" selected>All</option>
            <option value="Health">Health Sciences</option>
            <option value="Education">Education</option>
            <option value="Engineering">Engineering</option>
            <option value="Humanities">Humanities</option>
        </select>
    </div>

    <table id="myTable">
        <tr position=""></tr>

        <tr position="Engineering">
            @foreach (var degree in Model.degrees)
            {
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3> @degree.Name</h3>
                            <img src="~/imgz/degrees/engineering/civil.jpg" alt="">
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href ='@Url.Action("Electrical", "Home")'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            }
        </tr>

        <tr position="Health">
            @foreach (var degree in Model.degrees)
            {
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3> @degree.Name</h3>
                            <img src="~/imgz/degrees/engineering/Chemical.jpg" alt="">
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '@Url.Action("Mining", "Home")'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            }
        </tr>

        <tr position="Education">
            @foreach (var degree in Model.degrees)
            {
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3> @degree.Name</h3>
                            <img src="~/imgz/degrees/engineering/electrical.jpg" alt="">
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/University'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            }
        </tr>
        
        <tr position="Humanities">
            @foreach (var degree in Model.degrees)
            {
                <td>
                    <div class="cont1">
                        <div id="co">
                            <h3> @degree.Name</h3>
                            <img src="~/imgz/degrees/engineering/mechanical.jpg" alt="">
                            <div class="btn-co">
                                <button type="button" onclick="window.location.href = '/Home/University'" class="btn-2">More Info</button>
                            </div>
                        </div>
                    </div>
                </td>
            }
        </tr>

    </table>



</section>


@Html.Partial("_scripts")
