@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "Diploma";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/trophy-shape.png" alt="">
        </article>
        <aside>
            <h5>@ViewBag.Name</h5>
        </aside>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">


            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </button>
                <div class="dropdown-menu filterList" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item filterListItem" data-filter="all">ALL</a>
                    <a class="dropdown-item filterListItem" data-filter="Health Sciences">Health Sciences</a>
                    <a class="dropdown-item filterListItem" data-filter="Education">Education</a>
                    <a class="dropdown-item filterListItem" data-filter="Engineering">Engineering</a>
                    <a class="dropdown-item filterListItem" data-filter="Humanities">Humanities</a>
                </div>
            </div>
            <div class="col-md-12 d-flex flex-wrap justify-content-between galleryFilters">
                <input type="text" placeholder="Search" class="searchBar form-control" name="search" data-search>
            </div>
        </div>
        <div class="row filtr-container galleryContainer">

            @foreach (var diploma in Model.diplomas)
            {
                <div class="col-md-3 filtr-item thumbnail" data-category="all,@diploma.Schools" data-sort="@diploma.Name">
                    <img src="@Url.Content(diploma.Image)" alt="">
                    <span class="item-desc">@diploma.Name</span>
                    <button type="button" onclick="window.location.href ='@Url.Action(diploma.Links, "Home")'" class="btn-findMore">More Info</button>
                </div>
            }

        </div>
    </div>
</section>


@Html.Partial("_scripts")

