@model VarsityCheck.ViewModels.DisplayViews

@{
    ViewBag.Title = "GovernmentSector";
}

<section>
    <div class="head-t">
        <article>
            <img src="~/imgz/certificate.png" alt="">
        </article>
        <aside>
            <h5>@ViewBag.Name</h5>
        </aside>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">          
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter By province
                </button>
                <div class="dropdown-menu filterList" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item filterListItem" data-filter="all">ALL</a>
                    <a class="dropdown-item filterListItem" data-filter="Eastern Cape">Eastern Cape</a>
                    <a class="dropdown-item filterListItem" data-filter="Free State">Free State</a>
                    <a class="dropdown-item filterListItem" data-filter="Gauteng">Gauteng</a>
                    <a class="dropdown-item filterListItem" data-filter="KwaZulu Natal">KwaZulu-Natal</a>
                    <a class="dropdown-item filterListItem" data-filter="Limpopo">Limpopo</a>
                    <a class="dropdown-item filterListItem" data-filter="Mpumalanga">Mpumalanga</a>
                    <a class="dropdown-item filterListItem" data-filter="North West">North West</a>
                    <a class="dropdown-item filterListItem" data-filter="Northern Cape">Northern Cape</a>
                    <a class="dropdown-item filterListItem" data-filter="Western Cape">Western Cape</a>
                </div>
            </div>
            <div class="col-md-12 d-flex flex-wrap justify-content-between galleryFilters">
                <input type="text" placeholder="Search" class="searchBar form-control" name="search" data-search>
            </div>
        </div>
        <div class="row filtr-container galleryContainer">

            @foreach (var financial in Model.financialAids)
            {
                <div class="col-md-3 filtr-item thumbnail" data-category="all,@financial.Company" data-sort="@financial.BursaryName">
                    <img src="@Url.Content(financial.Image)" alt="">
                    <span class="item-desc">@financial.BursaryName</span>
                    <button type="button" onclick="window.location.href ='@financial.URL'" class="btn-findMore">More Info</button>
                </div>
            }

        </div>
    </div>
</section>

@Html.Partial("_scripts")

